In [1]:
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.decomposition import PCA
from sklearn.preprocessing import scale
from sklearn.model_selection import train_test_split 


from sklearn import preprocessing
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split, cross_validate, GridSearchCV, learning_curve

In [2]:
data = pd.read_pickle('/Users/hansangjun/Desktop/Springboard/Capstone2/telco_data/fulldata.pkl')

In [3]:
data.drop(columns=['City', 'Zip Code'], inplace=True)

In [4]:
data.head()

,Gender,Senior Citizen,Partner,Dependents,Tenure Months,Phone Service,Multiple Lines,Internet Service,Online Security,Online Backup,...,Monthly Charge,Total Refunds,Total Extra Data Charges,Total Long Distance Charges,Total Revenue,Age,Under 30,Married,Number of Dependents,Population
0,Male,No,No,No,2,Yes,No,DSL,Yes,Yes,...,53.85,0.0,0,20.94,129.09,37,No,No,0,58198
1,Male,No,Yes,No,1,Yes,No,No,No internet service,No internet service,...,18.80,0.0,0,43.57,62.37,29,Yes,Yes,0,58198
2,Female,No,Yes,Yes,3,Yes,No,Fiber optic,No,Yes,...,80.00,0.0,0,57.54,298.84,49,No,Yes,3,58198
3,Female,No,Yes,No,59,Yes,Yes,Fiber optic,Yes,Yes,...,94.75,0.0,0,967.01,6564.66,60,No,Yes,0,58198
4,Male,No,No,No,5,Yes,No,Fiber optic,No,No,...,80.10,0.0,0,61.75,460.30,56,No,No,0,58198

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 46 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Gender                             7043 non-null   object
 1   Senior Citizen                     7043 non-null   object
 2   Partner                            7043 non-null   object
 3   Dependents                         7043 non-null   object
 4   Tenure Months                      7043 non-null   int64
 5   Phone Service                      7043 non-null   object
 6   Multiple Lines                     7043 non-null   object
 7   Internet Service                   7043 non-null   object
 8   Online Security                    7043 non-null   object
 9   Online Backup                      7043 non-null   object
 10  Device Protection                  7043 non-null   object
 11  Tech Support                       7043 non-null   object
 12  Streaming TV                       7043 non-null   object
 13  Streaming Movies                   7043 non-null   object
 14  Contract                           7043 non-null   object
 15  Paperless Billing                  7043 non-null   object
 16  Payment Method                     7043 non-null   object
 17  Monthly Charges                    7043 non-null   float64
 18  Total Charges                      7043 non-null   float64
 19  Churn Label                        7043 non-null   int64
 20  Churn Score                        7043 non-null   int64
 21  CLTV                               7043 non-null   int64
 22  Quarter                            7043 non-null   object
 23  Satisfaction Score                 7043 non-null   int64
 24  Customer Status                    7043 non-null   object
 25  Referred a Friend                  7043 non-null   object
 26  Number of Referrals                7043 non-null   int64
 27  Tenure in Months                   7043 non-null   int64
 28  Offer                              7043 non-null   object
 29  Avg Monthly Long Distance Charges  7043 non-null   float64
 30  Internet Type                      7043 non-null   object
 31  Avg Monthly GB Download            7043 non-null   int64
 32  Device Protection Plan             7043 non-null   object
 33  Premium Tech Support               7043 non-null   object
 34  Streaming Music                    7043 non-null   object
 35  Unlimited Data                     7043 non-null   object
 36  Monthly Charge                     7043 non-null   float64
 37  Total Refunds                      7043 non-null   float64
 38  Total Extra Data Charges           7043 non-null   int64
 39  Total Long Distance Charges        7043 non-null   float64
 40  Total Revenue                      7043 non-null   float64
 41  Age                                7043 non-null   int64
 42  Under 30                           7043 non-null   object
 43  Married                            7043 non-null   object
 44  Number of Dependents               7043 non-null   int64
 45  Population                         7043 non-null   int64
dtypes: float64(7), int64(12), object(27)
memory usage: 2.5+ MB

In [15]:
# a quick data wrangling - Align value of category.
dtype_object = []

g = data.columns.to_series().groupby(data.dtypes).groups

for k, v in g.items():
    if k == object:
        for i in range(len(v)):
            dtype_object.append(v[i])

for i in range(len(dtype_object)):
    print("####" + dtype_object[i] + "####")
    print(data[dtype_object[i]].value_counts())
    print(" ")

####Gender####
Male      3555
Female    3488
Name: Gender, dtype: int64

####Senior Citizen####
No     5901
Yes    1142
Name: Senior Citizen, dtype: int64

####Partner####
No     3641
Yes    3402
Name: Partner, dtype: int64

####Dependents####
No     5416
Yes    1627
Name: Dependents, dtype: int64

####Phone Service####
Yes    6361
No      682
Name: Phone Service, dtype: int64

####Multiple Lines####
No                  3390
Yes                 2971
No phone service     682
Name: Multiple Lines, dtype: int64

####Internet Service####
Fiber optic    3096
DSL            2421
No             1526
Name: Internet Service, dtype: int64

####Online Security####
No                     3498
Yes                    2019
No internet service    1526
Name: Online Security, dtype: int64

####Online Backup####
No                     3088
Yes                    2429
No internet service    1526
Name: Online Backup, dtype: int64

####Device Protection####
No                     3095
Yes                    2422
No internet service    1526
Name: Device Protection, dtype: int64

####Tech Support####
No                     3473
Yes                    2044
No internet service    1526
Name: Tech Support, dtype: int64

####Streaming TV####
No                     2810
Yes                    2707
No internet service    1526
Name: Streaming TV, dtype: int64

####Streaming Movies####
No                     2785
Yes                    2732
No internet service    1526
Name: Streaming Movies, dtype: int64

####Contract####
Month-to-month    3875
Two year          1695
One year          1473
Name: Contract, dtype: int64

####Paperless Billing####
Yes    4171
No     2872
Name: Paperless Billing, dtype: int64

####Payment Method####
Electronic check             2365
Mailed check                 1612
Bank transfer (automatic)    1544
Credit card (automatic)      1522
Name: Payment Method, dtype: int64

####Quarter####
Q3    7043
Name: Quarter, dtype: int64

####Customer Status####
Stayed     4720
Churned    1869
Joined      454
Name: Customer Status, dtype: int64

####Referred a Friend####
No     3821
Yes    3222
Name: Referred a Friend, dtype: int64

####Offer####
None       3877
Offer B     824
Offer E     805
Offer D     602
Offer A     520
Offer C     415
Name: Offer, dtype: int64

####Internet Type####
Fiber Optic    3035
DSL            1652
None           1526
Cable           830
Name: Internet Type, dtype: int64

####Device Protection Plan####
No     4621
Yes    2422
Name: Device Protection Plan, dtype: int64

####Premium Tech Support####
No     4999
Yes    2044
Name: Premium Tech Support, dtype: int64

####Streaming Music####
No     4555
Yes    2488
Name: Streaming Music, dtype: int64

####Unlimited Data####
Yes    4745
No     2298
Name: Unlimited Data, dtype: int64

####Under 30####
No     5642
Yes    1401
Name: Under 30, dtype: int64

####Married####
No     3641
Yes    3402
Name: Married, dtype: int64

We have to delete column 'Quarter' because it only has one value: Q3.

In [6]:
data.drop(columns=['Quarter'], inplace=True)

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 45 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Gender                             7043 non-null   object
 1   Senior Citizen                     7043 non-null   object
 2   Partner                            7043 non-null   object
 3   Dependents                         7043 non-null   object
 4   Tenure Months                      7043 non-null   int64
 5   Phone Service                      7043 non-null   object
 6   Multiple Lines                     7043 non-null   object
 7   Internet Service                   7043 non-null   object
 8   Online Security                    7043 non-null   object
 9   Online Backup                      7043 non-null   object
 10  Device Protection                  7043 non-null   object
 11  Tech Support                       7043 non-null   object
 12  Streaming TV                       7043 non-null   object
 13  Streaming Movies                   7043 non-null   object
 14  Contract                           7043 non-null   object
 15  Paperless Billing                  7043 non-null   object
 16  Payment Method                     7043 non-null   object
 17  Monthly Charges                    7043 non-null   float64
 18  Total Charges                      7043 non-null   float64
 19  Churn Label                        7043 non-null   int64
 20  Churn Score                        7043 non-null   int64
 21  CLTV                               7043 non-null   int64
 22  Satisfaction Score                 7043 non-null   int64
 23  Customer Status                    7043 non-null   object
 24  Referred a Friend                  7043 non-null   object
 25  Number of Referrals                7043 non-null   int64
 26  Tenure in Months                   7043 non-null   int64
 27  Offer                              7043 non-null   object
 28  Avg Monthly Long Distance Charges  7043 non-null   float64
 29  Internet Type                      7043 non-null   object
 30  Avg Monthly GB Download            7043 non-null   int64
 31  Device Protection Plan             7043 non-null   object
 32  Premium Tech Support               7043 non-null   object
 33  Streaming Music                    7043 non-null   object
 34  Unlimited Data                     7043 non-null   object
 35  Monthly Charge                     7043 non-null   float64
 36  Total Refunds                      7043 non-null   float64
 37  Total Extra Data Charges           7043 non-null   int64
 38  Total Long Distance Charges        7043 non-null   float64
 39  Total Revenue                      7043 non-null   float64
 40  Age                                7043 non-null   int64
 41  Under 30                           7043 non-null   object
 42  Married                            7043 non-null   object
 43  Number of Dependents               7043 non-null   int64
 44  Population                         7043 non-null   int64
dtypes: float64(7), int64(12), object(26)
memory usage: 2.4+ MB

## Dummy Variables
1. extract object type column names.
2. make sure deleting dependent variable.
3. create dummy variables

In [8]:
# churn label should be object type.
data['Churn Label'] = data['Churn Label'].astype(object)

In [9]:
# Extract object type column names from a new list.
names_dummies = data.select_dtypes(include=['object']).columns.to_list()

# Dependent variable doesn't have to be a dummy variable.
names_dummies.remove('Churn Label')
print(names_dummies)

['Gender', 'Senior Citizen', 'Partner', 'Dependents', 'Phone Service', 'Multiple Lines', 'Internet Service', 'Online Security', 'Online Backup', 'Device Protection', 'Tech Support', 'Streaming TV', 'Streaming Movies', 'Contract', 'Paperless Billing', 'Payment Method', 'Customer Status', 'Referred a Friend', 'Offer', 'Internet Type', 'Device Protection Plan', 'Premium Tech Support', 'Streaming Music', 'Unlimited Data', 'Under 30', 'Married']

In [10]:
# Create dummy variables.
df = pd.get_dummies(data, columns=names_dummies, prefix=names_dummies)

# Print the columns names
print(df.columns)

Index(['Tenure Months', 'Monthly Charges', 'Total Charges', 'Churn Label',
       'Churn Score', 'CLTV', 'Satisfaction Score', 'Number of Referrals',
       'Tenure in Months', 'Avg Monthly Long Distance Charges',
       'Avg Monthly GB Download', 'Monthly Charge', 'Total Refunds',
       'Total Extra Data Charges', 'Total Long Distance Charges',
       'Total Revenue', 'Age', 'Number of Dependents', 'Population',
       'Gender_Female', 'Gender_Male', 'Senior Citizen_No',
       'Senior Citizen_Yes', 'Partner_No', 'Partner_Yes', 'Dependents_No',
       'Dependents_Yes', 'Phone Service_No', 'Phone Service_Yes',
       'Multiple Lines_No', 'Multiple Lines_No phone service',
       'Multiple Lines_Yes', 'Internet Service_DSL',
       'Internet Service_Fiber optic', 'Internet Service_No',
       'Online Security_No', 'Online Security_No internet service',
       'Online Security_Yes', 'Online Backup_No',
       'Online Backup_No internet service', 'Online Backup_Yes',
       'Device Protection_No', 'Device Protection_No internet service',
       'Device Protection_Yes', 'Tech Support_No',
       'Tech Support_No internet service', 'Tech Support_Yes',
       'Streaming TV_No', 'Streaming TV_No internet service',
       'Streaming TV_Yes', 'Streaming Movies_No',
       'Streaming Movies_No internet service', 'Streaming Movies_Yes',
       'Contract_Month-to-month', 'Contract_One year', 'Contract_Two year',
       'Paperless Billing_No', 'Paperless Billing_Yes',
       'Payment Method_Bank transfer (automatic)',
       'Payment Method_Credit card (automatic)',
       'Payment Method_Electronic check', 'Payment Method_Mailed check',
       'Customer Status_Churned', 'Customer Status_Joined',
       'Customer Status_Stayed', 'Referred a Friend_No',
       'Referred a Friend_Yes', 'Offer_None', 'Offer_Offer A', 'Offer_Offer B',
       'Offer_Offer C', 'Offer_Offer D', 'Offer_Offer E',
       'Internet Type_Cable', 'Internet Type_DSL', 'Internet Type_Fiber Optic',
       'Internet Type_None', 'Device Protection Plan_No',
       'Device Protection Plan_Yes', 'Premium Tech Support_No',
       'Premium Tech Support_Yes', 'Streaming Music_No', 'Streaming Music_Yes',
       'Unlimited Data_No', 'Unlimited Data_Yes', 'Under 30_No',
       'Under 30_Yes', 'Married_No', 'Married_Yes'],
      dtype='object')

In [11]:
df.head()

,Tenure Months,Monthly Charges,Total Charges,Churn Label,Churn Score,CLTV,Satisfaction Score,Number of Referrals,Tenure in Months,Avg Monthly Long Distance Charges,...,Premium Tech Support_No,Premium Tech Support_Yes,Streaming Music_No,Streaming Music_Yes,Unlimited Data_No,Unlimited Data_Yes,Under 30_No,Under 30_Yes,Married_No,Married_Yes
0,2,53.85,108.15,1,86,3239,1,0,2,10.47,...,1,0,1,0,0,1,1,0,1,0
1,1,18.80,18.80,0,51,5160,3,9,1,43.57,...,1,0,1,0,1,0,0,1,0,1
2,3,80.00,241.30,0,76,4264,3,2,3,19.18,...,0,1,1,0,0,1,1,0,0,1
3,59,94.75,5597.65,0,26,5238,3,4,59,16.39,...,1,0,1,0,0,1,1,0,0,1
4,5,80.10,398.55,0,22,5225,3,0,5,12.35,...,1,0,1,0,0,1,1,0,1,0

## Scale Data
1. collect int and float.
2. define scaler.
3. fit scale_df
4. transform the data using fitted scaler.
5. make it dataframe.

In [16]:
# collect int and float
names_list = df.select_dtypes(include=['float', 'int']).columns.to_list()

names_list_SS = []

for i in names_list:
    names_list_SS.append(i + "_SS")


scale_df = df[names_list]

# define scaler
scaler = StandardScaler()

# fit scale_df
scaler.fit(scale_df)

# transform the data using fitted scaler
scaled_df = scaler.transform(scale_df)

# make it dataframe
scaled_df = pd.DataFrame(scaled_df, columns=names_list_SS) 
scaled_df.head()

,Tenure Months_SS,Monthly Charges_SS,Total Charges_SS,Churn Score_SS,CLTV_SS,Satisfaction Score_SS,Number of Referrals_SS,Tenure in Months_SS,Avg Monthly Long Distance Charges_SS,Avg Monthly GB Download_SS,Monthly Charge_SS,Total Refunds_SS,Total Extra Data Charges_SS,Total Long Distance Charges_SS,Total Revenue_SS,Age_SS,Number of Dependents_SS,Population_SS
0,-1.236724,-0.362660,-0.958066,1.268402,-0.981675,-1.868323,-0.650409,-1.238238,-0.808503,0.023734,-0.362660,-0.248313,-0.2733,-0.860098,-1.014062,-0.567773,-0.486835,1.77114
1,-1.277445,-1.527580,-0.997486,-0.357720,0.642199,-0.203836,2.348606,-1.278988,1.334306,-1.004796,-1.527580,-0.248313,-0.2733,-0.833368,-1.037350,-1.045409,-0.486835,1.77114
2,-1.196004,0.506459,-0.899322,0.803796,-0.115215,-0.203836,0.016039,-1.197489,-0.244640,0.072712,0.506459,-0.248313,-0.2733,-0.816867,-0.954813,0.148681,2.629292,1.77114
3,1.084337,0.996690,1.463808,-1.519235,0.708135,-0.203836,0.682487,1.084470,-0.425257,-0.319109,0.996690,-0.248313,-0.2733,0.257395,1.232209,0.805430,-0.486835,1.77114
4,-1.114563,0.509783,-0.829946,-1.705078,0.697145,-0.203836,-0.650409,-1.115991,-0.686796,-0.368087,0.509783,-0.248313,-0.2733,-0.811894,-0.898457,0.566612,-0.486835,1.77114

In [17]:
# drop original int and float varaibles
df.drop(columns=names_list, inplace=True)

# concatenating scaled_df and df along columns
df = pd.concat([scaled_df, df], axis=1)

In [18]:
df.head()

,Tenure Months_SS,Monthly Charges_SS,Total Charges_SS,Churn Score_SS,CLTV_SS,Satisfaction Score_SS,Number of Referrals_SS,Tenure in Months_SS,Avg Monthly Long Distance Charges_SS,Avg Monthly GB Download_SS,...,Premium Tech Support_No,Premium Tech Support_Yes,Streaming Music_No,Streaming Music_Yes,Unlimited Data_No,Unlimited Data_Yes,Under 30_No,Under 30_Yes,Married_No,Married_Yes
0,-1.236724,-0.362660,-0.958066,1.268402,-0.981675,-1.868323,-0.650409,-1.238238,-0.808503,0.023734,...,1,0,1,0,0,1,1,0,1,0
1,-1.277445,-1.527580,-0.997486,-0.357720,0.642199,-0.203836,2.348606,-1.278988,1.334306,-1.004796,...,1,0,1,0,1,0,0,1,0,1
2,-1.196004,0.506459,-0.899322,0.803796,-0.115215,-0.203836,0.016039,-1.197489,-0.244640,0.072712,...,0,1,1,0,0,1,1,0,0,1
3,1.084337,0.996690,1.463808,-1.519235,0.708135,-0.203836,0.682487,1.084470,-0.425257,-0.319109,...,1,0,1,0,0,1,1,0,0,1
4,-1.114563,0.509783,-0.829946,-1.705078,0.697145,-0.203836,-0.650409,-1.115991,-0.686796,-0.368087,...,1,0,1,0,0,1,1,0,1,0

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 89 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   Tenure Months_SS                          7043 non-null   float64
 1   Monthly Charges_SS                        7043 non-null   float64
 2   Total Charges_SS                          7043 non-null   float64
 3   Churn Score_SS                            7043 non-null   float64
 4   CLTV_SS                                   7043 non-null   float64
 5   Satisfaction Score_SS                     7043 non-null   float64
 6   Number of Referrals_SS                    7043 non-null   float64
 7   Tenure in Months_SS                       7043 non-null   float64
 8   Avg Monthly Long Distance Charges_SS      7043 non-null   float64
 9   Avg Monthly GB Download_SS                7043 non-null   float64
 10  Monthly Charge_SS                         7043 non-null   float64
 11  Total Refunds_SS                          7043 non-null   float64
 12  Total Extra Data Charges_SS               7043 non-null   float64
 13  Total Long Distance Charges_SS            7043 non-null   float64
 14  Total Revenue_SS                          7043 non-null   float64
 15  Age_SS                                    7043 non-null   float64
 16  Number of Dependents_SS                   7043 non-null   float64
 17  Population_SS                             7043 non-null   float64
 18  Churn Label                               7043 non-null   object
 19  Gender_Female                             7043 non-null   uint8
 20  Gender_Male                               7043 non-null   uint8
 21  Senior Citizen_No                         7043 non-null   uint8
 22  Senior Citizen_Yes                        7043 non-null   uint8
 23  Partner_No                                7043 non-null   uint8
 24  Partner_Yes                               7043 non-null   uint8
 25  Dependents_No                             7043 non-null   uint8
 26  Dependents_Yes                            7043 non-null   uint8
 27  Phone Service_No                          7043 non-null   uint8
 28  Phone Service_Yes                         7043 non-null   uint8
 29  Multiple Lines_No                         7043 non-null   uint8
 30  Multiple Lines_No phone service           7043 non-null   uint8
 31  Multiple Lines_Yes                        7043 non-null   uint8
 32  Internet Service_DSL                      7043 non-null   uint8
 33  Internet Service_Fiber optic              7043 non-null   uint8
 34  Internet Service_No                       7043 non-null   uint8
 35  Online Security_No                        7043 non-null   uint8
 36  Online Security_No internet service       7043 non-null   uint8
 37  Online Security_Yes                       7043 non-null   uint8
 38  Online Backup_No                          7043 non-null   uint8
 39  Online Backup_No internet service         7043 non-null   uint8
 40  Online Backup_Yes                         7043 non-null   uint8
 41  Device Protection_No                      7043 non-null   uint8
 42  Device Protection_No internet service     7043 non-null   uint8
 43  Device Protection_Yes                     7043 non-null   uint8
 44  Tech Support_No                           7043 non-null   uint8
 45  Tech Support_No internet service          7043 non-null   uint8
 46  Tech Support_Yes                          7043 non-null   uint8
 47  Streaming TV_No                           7043 non-null   uint8
 48  Streaming TV_No internet service          7043 non-null   uint8
 49  Streaming TV_Yes                          7043 non-null   uint8
 50  Streaming Movies_No                       7043 non-null   uint8
 51  Streaming Movies_No internet service      7043 non-null   uint8
 52  Streaming Movies_Yes                      7043 non-null   uint8
 53  Contract_Month-to-month                   7043 non-null   uint8
 54  Contract_One year                         7043 non-null   uint8
 55  Contract_Two year                         7043 non-null   uint8
 56  Paperless Billing_No                      7043 non-null   uint8
 57  Paperless Billing_Yes                     7043 non-null   uint8
 58  Payment Method_Bank transfer (automatic)  7043 non-null   uint8
 59  Payment Method_Credit card (automatic)    7043 non-null   uint8
 60  Payment Method_Electronic check           7043 non-null   uint8
 61  Payment Method_Mailed check               7043 non-null   uint8
 62  Customer Status_Churned                   7043 non-null   uint8
 63  Customer Status_Joined                    7043 non-null   uint8
 64  Customer Status_Stayed                    7043 non-null   uint8
 65  Referred a Friend_No                      7043 non-null   uint8
 66  Referred a Friend_Yes                     7043 non-null   uint8
 67  Offer_None                                7043 non-null   uint8
 68  Offer_Offer A                             7043 non-null   uint8
 69  Offer_Offer B                             7043 non-null   uint8
 70  Offer_Offer C                             7043 non-null   uint8
 71  Offer_Offer D                             7043 non-null   uint8
 72  Offer_Offer E                             7043 non-null   uint8
 73  Internet Type_Cable                       7043 non-null   uint8
 74  Internet Type_DSL                         7043 non-null   uint8
 75  Internet Type_Fiber Optic                 7043 non-null   uint8
 76  Internet Type_None                        7043 non-null   uint8
 77  Device Protection Plan_No                 7043 non-null   uint8
 78  Device Protection Plan_Yes                7043 non-null   uint8
 79  Premium Tech Support_No                   7043 non-null   uint8
 80  Premium Tech Support_Yes                  7043 non-null   uint8
 81  Streaming Music_No                        7043 non-null   uint8
 82  Streaming Music_Yes                       7043 non-null   uint8
 83  Unlimited Data_No                         7043 non-null   uint8
 84  Unlimited Data_Yes                        7043 non-null   uint8
 85  Under 30_No                               7043 non-null   uint8
 86  Under 30_Yes                              7043 non-null   uint8
 87  Married_No                                7043 non-null   uint8
 88  Married_Yes                               7043 non-null   uint8
dtypes: float64(18), object(1), uint8(70)
memory usage: 1.5+ MB

In [20]:
df.to_pickle('df_preprocessed_full.pkl')