In [2]:
import pandas as pd
  
# initialize list elements
data = [[10030, 55000], [10030,55804], [10250,55804], [10510,55000]]

# enroll_code,student_id
# 10030,55000
# 10030,55804
# 10250,55804
# 10510,55000

# Create the pandas DataFrame with column name is provided explicitly
df = pd.DataFrame(data, columns=['enroll_code', 'student_id'])
  
# print dataframe.
df

   enroll_code  student_id
0        10030       55000
1        10030       55804
2        10250       55804
3        10510       55000

In [3]:
res = {}
for k,v in file_reader.items():
  res[k] =+ 1

NameError: name 'file_reader' is not defined

In [4]:
from csv import DictReader
file = open('Iris.csv', "r")
file_reader = DictReader(file)

In [7]:
file_reader

In [6]:
res = {}
for k,v in file_reader.items():
  res[k] =+ 1

AttributeError: 'DictReader' object has no attribute 'items'